*, *:after, *:before {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

:root {

  --primary: #ff6100;

  --secondary: #993b00;

  --accent: #faf7f5;

  --text: #050200;

  --text-light: #757271;
}
