.container {
  align-items: center;
  background: url('../images/stacked-waves-haikei.svg');
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}

.wrapper {
  align-items: center;
  color: #1a0901;
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  font-weight: 600;
  justify-content: center;
  padding: 1rem 2rem;
  text-transform: uppercase;
  width: 100%;
}

.wrapper > p {
  width: fit-content;
}

.button {
  background-color: var(--accent);
  border: none;
  border-radius: 0.5rem;
  color: #1a0901;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: 1s;
  width: 100%;
}

.button::selection {
  background-color: var(--accent-transparency);
}
