.container {
  align-items: center;
  background: url('../images/stacked-waves-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.wrapper {
  align-items: center;
  border-radius: 1rem;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.125rem;
  font-weight: 400;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
  padding: 0.5rem;
  text-align: justify;
  width: 100vw;
}

.wrapper > p {
  background-color: var(--accent-transparency);
  border-radius: 0.8rem;
  margin: 1rem 0.5rem;
  padding: 1.25rem;
}

.row {
  align-items: center;
  background-color: var(--accent);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0.5rem;
}

.button {
  background-color: var(--secondary);
  border: none;
  border-radius: 0.5rem;
  color: var(--accent);
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  transition: 1s;
  width: 100%;
}

.row > .button {
  width: 11rem;
}

.start {
  bottom: 0;
  margin: auto;
  position: fixed;
}

.button::selection {
  background-color: var(--accent-transparency);
}

.card {
  align-items: center;
  background-color: var(--accent);
  border-radius: 0.8rem;
  box-shadow: 0.25rem 0.25rem 0.25rem var(--secondary);
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: 600;
  justify-content: space-around;
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 50vw;
}

.card > a {
  color: var(--secondary);
  font-size: 1.25rem;
  text-decoration: none;
}

.card > img, .card > a > img {
  border-radius: 0.8rem;
  width: 100%;
}

.card > video {
  width: 100%;
}

.card > figcaption {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.carousel {
  display: flex;
  margin: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100vw;
}

.carousel > div {
  flex: none;
  padding: 1rem;
  width: 12.5rem;
}

.carousel > div > a > img {
  width: 100%;
}

.hidden {
  display: none;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.list > li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip .tooltiptext {
  background-color: #555;
  border-radius: 6px;
  bottom: 150%;
  color: white;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  padding: 5px;
  position: absolute;
  text-align: center;
  transition: opacity 0.3s;
  visibility: hidden;
  width: 140px;
  z-index: 1;
}

.tooltip .tooltiptext:after {
  border-color: #555 transparent transparent;
  border-style: solid;
  border-width: 5px;
  content: '';
  left: 50%;
  margin-left: -5px;
  position: absolute;
  top: 100%;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}
